@(id: Long, contentForm: Form[OrderContent])

@import helper._


@main("Welcome to Play") {
<h1>Add supplies to order</h1>
    
    @form(routes.AdminController.save_order_content(id)) {
        <fieldset>
        	@select(
                contentForm("order.id"), 
                options(Orders.options), 
                '_label -> "Order ID",
                '_showConstraints -> false
            )
            
     		@inputText(
           		field = contentForm("quantity"),
           		args = '_label -> "Quantity", 'placeholder -> 0
      		)
     		
     		@select(
                contentForm("supply_specific_type.id"), 
                options(SupplySpecificType.options), 
                '_label -> "SupplySpecificType",
                '_showConstraints -> false
            )
            
            @select(
                contentForm("storage_location.id"), 
                options(StorageLocation.options), 
                '_label -> "Storage Location",
                '_showConstraints -> false
            )
            
            @select(
                contentForm("delivery_service.id"), 
                options(DeliveryService.options), 
                '_label -> "Delivery Service",
                '_showConstraints -> false
            )
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Add this item" class="btn"> 
            <a href="@routes.AdminController.delete_order(id)" class="btn">Cancel</a> 
        </div>       
    }    
}