@(supplyForm: Form[SupplySpecificType])

@import helper._


@main("Welcome to Play") {
<h1>Add a supply</h1>
    
    @form(routes.AdminController.save_supply()) {
        
        <fieldset>
        
            @inputText(supplyForm("name"), '_label -> "supply name")
			
			@inputText(supplyForm("cost"), '_label -> "supply cost")
			
			@checkbox(field = supplyForm("is_immediate_shipping"))
			
            @select(
                supplyForm("supply_sub_type.id"), 
                options(SupplySubType.options), 
                '_label -> "Unit",
                '_showConstraints -> false
            )
            
            @select(
            	supplyForm("vendor.id"),
            	options(Vendor.options),
            	'_label -> "Vendor",
            	'_showConstraints -> false
            )            
     
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Add this supply" class="btn"> or 
            <a href="@routes.AdminController.supply_index()" class="btn">Cancel</a> 
        </div>       
    }    
}