@(id:Long, patient_visitForm: Form[PatientVisit])

@import helper._


   
    @main("Welcome to Play") {
	<h1>Add a patient visit</h1>
    
    @form(routes.DoctorController.save_patient_visit()) {
        
        <fieldset>
			@select(
                patient_visitForm("patient.id"), 
                options(Patient.find_the_id(id)), 
                '_label -> "Patient",
                '_showConstraints -> false
            )
			@select(
                patient_visitForm("unit.id"), 
                options(Unit.options), 
                '_label -> "Unit",
                '_showConstraints -> false
            )
			@inputText(patient_visitForm("date_of_visit"), '_label -> "VisitDate")
			@inputText(patient_visitForm("date_of_leave"), '_label -> "LeaveDate")

            
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create a new patient visit" class="btn"> 
        </div>
        
    }    
}
