@()

@main("Welcome to Play") {
        <table class="computers zebra-striped">
        
            <thead>
                <tr>
                     <td>Options</td>           
                </tr>
            </thead>
            
            <tbody>
                    <tr>
                        <td><a href="@routes.AdminController.service_index()" >Service</a> </td>               
                    </tr>
				     <tr>
                        <td><a href="@routes.AdminController.supply_index()">Supplies</a> </td>               
                    </tr>
				    <tr>
                        <td><a href="@routes.AdminController.order_index()">Orders</a> </td>               
                    </tr>

            </tbody>            
        </table> 

}