@(patientForm: Form[Patient])

@import helper._

@main (""){
    
    <h1>Add a patient</h1>
    
    @form(routes.DoctorController.save_patient()) {
        
        <fieldset>
        
            @inputText(patientForm("name"), '_label -> "patient name")
			@inputText(patientForm("medicardID"), '_label -> "medicardID")
			@inputText(patientForm("hospitalcardID"), '_label -> "hospitacardID")

            
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create a new patient" class="btn"> 
        </div>
        
    }    

}