@(serviceForm: Form[Service])

@import helper._

@main (""){
    
    <h1>Add a service</h1>
    
    @form(routes.AdminController.save_service()) {
        
        <fieldset>
        
            @inputText(serviceForm("name"), '_label -> "service name")

            @select(
                serviceForm("unit.id"), 
                options(Unit.options), 
                '_label -> "Unit",
                '_showConstraints -> false
            )
            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this service" class="btn"> or 
            <a href="@routes.AdminController.index()" class="btn">Cancel</a> 
        </div>
        
    }    

}