@(id: Long, serviceForm: Form[Service])

@import helper._

@main (""){
    
    <h1>Add a service</h1>
    
    @form(routes.AdminController.update_service(id)) {
        
        <fieldset>
        
            @inputText(serviceForm("name"), '_label -> "service name")

            @select(
                serviceForm("unit.id"), 
                options(Unit.options), 
                '_label -> "Unit",
                '_showConstraints -> false
            )
            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Finish Edit" class="btn">
            <input type ="submit" href="@routes.AdminController.index()" class="btn" value ="Cancel"/>                  
        </div>        
    }    
    
    @form(routes.AdminController.delete_service(id), 'class -> "topRight") {
        <input type="submit" value="Delete" class="btn danger">
    } 
}