@(id: Long, patientForm: Form[Patient])

@import helper._


@main("Welcome to Play") {
<h1>Add a patient</h1>
    
    @form(routes.DoctorController.update_patient(id)) {
        
        <fieldset>
        
            @inputText(patientForm("name"), '_label -> "patient name")
			@inputText(patientForm("medicardID"), '_label -> "medicardID")
			@inputText(patientForm("hospitalcardID"), '_label -> "hospitalcardID")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Finish Edit" class="btn">
                
        </div>        
    }    
    
    @form(routes.DoctorController.delete_patient(id), 'class -> "topRight") {
        <input type="submit" value="Delete" class="btn danger">
    } 
}