@(id: Long, currentPage: com.avaje.ebean.Page[OrderContent], currentSortBy: String, currentOrder: String, currentFilter: String) 

@link(newPage:Int, newSortBy:String) = @{
	var sortBy = currentSortBy
	var order = currentOrder
	
	if(newSortBy != null){
		sortBy = newSortBy
		if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
   	}
   	
    // Generate the link
    routes.AdminController.order_index()
    
}
@header(key:String, title:String) = {
	<th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}>
       <a href="@link(0, key)">@title</a>
    </th>
}
@main("Welcome to Play"){
	<div id="action">        
        <a class="btn success" id="add" href="@routes.AdminController.add_order_content(id)">Add supply</a>        
    </div>
    <div id="back">        
        <a class="btn success" id="back" href="@routes.AdminController.delete_order(id)">Cancel</a>        
    </div>
    
	<table class="computers zebra-striped">    
		<thead>
        	<tr>
            	@header("order", "Order Number")
                @header("id", "Content ID")
                @header("quantity", "Quantity")
                @header("supplyTyple", "Supply Specific Type")
                @header("storage", "Storage Location")
                @header("delivery", "Delivery Service")
            </tr>
       	</thead>
            
        <tbody>
        	@for(orderContent <- currentPage.getList) {
	        	@if(orderContent.order.id==id){
	            	<tr>
	            		<td>@orderContent.order.id</td>
	                	<td>@orderContent.id</td>
	                	<td>@orderContent.quantity</td>
	                	<td>@orderContent.supply_specific_type.name</td>
	                	<td>@orderContent.storage_location.name</td>
	                	<td>@orderContent.delivery_service.name</td>                      
	                </tr>
                }
        	}
   		</tbody>            
	</table>      
}