@(id: Long, patient_assignmentForm: Form[PatientAssignment])
<!--note for edit, it takes in id:long, which is patient_assignment.id for when we click on to edit, that one is to edit-->
@import helper._


    
    @main("Welcome to Play") {<h1>Edit a patient assignment</h1>
    
    @form(routes.DoctorController.update_patient_assignment(id)) {
        
        <fieldset>
			@select(
                patient_assignmentForm("employee.id"), 
                options(Employee.options), 
                '_label -> "EmployeeID",
                '_showConstraints -> false
            )
			<!--@inputText(patient_assignmentForm("employee.id"), '_label -> "EmployeeID")-->
			<!--@inputText(patient_assignmentForm("patient_visit.id"), '_label -> "PatientVisitID")-->
			@select(
                patient_assignmentForm("patient_visit.id"), 
                options(PatientVisit.options), 
                '_label -> "PatientVisitID",
                '_showConstraints -> false
            )
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Finish Edit" class="btn">
                
        </div>        
    }    
    
    @form(routes.DoctorController.delete_patient_assignment(id), 'class -> "topRight") {
        <input type="submit" value="Delete" class="btn danger">
    } 
}