@(id: Long, taskForm: Form[Task])
<!--note for edit, it takes in id:long, which is patient_assignment.id for when we click on to edit, that one is to edit-->
@import helper._
  
    @main("Welcome to Play") {<h1>Cancelling a task</h1>
    
    @form(routes.DoctorController.update_task(id)) {
        
        <fieldset>
			@inputText(taskForm("name"), '_label -> "Summary or Reason")
			@inputText(taskForm("canceled"), '_label -> "Cancel")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Finish Edit" class="btn">
                
        </div>        
    }   
}