@(operatingroom_id: Long, currentPage: com.avaje.ebean.Page[OperatingRoomSchedule], currentSortBy: String, currentOrder: String, currentFilter: String) 

@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.AdminController.service(newPage, sortBy, order, currentFilter)
    
}

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}>
       <a href="@link(0, key)">@title</a>
    </th>
}
@main("Welcome to Play") {
    <div id="back">        
        <a class="btn success" id="back" href="@routes.AdminController.index()">Back</a>        
    </div>
    <div>        
        <a class="btn success" href="@routes.AdminController.schedule_new(operatingroom_id)">Schedule New</a>        
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="computers zebra-striped">
        
            <thead>
                <tr>
                    @header("operating_room.name", "Room Name")
                    @header("task.service.name", "Service Name")
                   	@header("start", "Start Date")
                    @header("start_hour", "Start Hour")
                    @header("end_hour", "End Hour")
                </tr>
            </thead>
            
            <tbody>
                @for(operatingroomschedule <- currentPage.getList) {
                    <tr>
						<td>@operatingroomschedule.operating_room.name</td>
						<td>@operatingroomschedule.task.service.name</td>
						<td>@operatingroomschedule.start</td>
						<td>@operatingroomschedule.start_hour</td>
						<td>@operatingroomschedule.end_hour</td>
                    </tr>
                }
            </tbody>            
        </table> 
    }        
}