@(currentPage: com.avaje.ebean.Page[OrderContent], currentSortBy: String, currentOrder: String, currentFilter: String) 

@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.AdminController.order_content_index()
    
}

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}>
       <a href="@link(0, key)">@title</a>
    </th>
}
@main("Welcome to Play") {
    <div id="actions">               
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="computers zebra-striped">
        
            <thead>
                <tr>
                    @header("name", "")
                    @header("order.id", "Order ID")
                    @header("supply_specific_type.name", "Supply Type")
                    @header("storage_location.name", "Storage Location")
                    @header("delivery_service.name", "Delivery Service")
                    @header("quantity", "Quantity")
                </tr>
            </thead>
            
            <tbody>
                @for(order_content <- currentPage.getList) {
                    <tr>            
                  		<td>@order_content.id</td>
                  		<td>@order_content.order.id</td>
                  		<td>@order_content.supply_specific_type.name</td>
                  		<td>@order_content.storage_location.name</td>
                  		<td>@order_content.delivery_service.name</td>
                  		<td>@order_content.quantity</td>  
                    </tr>
                }
            </tbody>            
        </table> 
    }        
}