@(currentPage: com.avaje.ebean.Page[Orders], currentSortBy: String, currentOrder: String, currentFilter: String) 

@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.AdminController.order_index()
    
}

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}>
       <a href="@link(0, key)">@title</a>
    </th>
}
@main("Welcome to Play") {
    <div id="actions">        
        <a class="btn success" id="add" href="@routes.AdminController.add_order()">Place an order</a>        
    </div>
    <div id="back">        
        <a class="btn success" id="back" href="@routes.AdminController.index()">Back</a>        
    </div>        
        <table class="computers zebra-striped">
        
            <thead>
                <tr>
                    @header("name", "Order Number")
                    @header("date", "Date")
                </tr>
            </thead>
            
            <tbody>
                @for(order <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.AdminController.order_content_index(order.id)">@order.id</a></td>
                        <td>@order.date.getMonth()-@order.date.getDate()</td>                      
                    </tr>
                }
            </tbody>            
        </table>     
}