@(currentPage: com.avaje.ebean.Page[PatientAssignment], currentSortBy: String, currentOrder: String, currentFilter: String) 

@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.DoctorController.patient_assignment(newPage, sortBy, order, currentFilter)
    
}

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") {"headerSortDown"} else {"headerSortUp"}}>
       <a href="@link(0, key)">@title</a>
    </th>
}


    @main("Welcome to Play") {<div id="actions">        
        <form action="@link(0, "employeeID")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by employeeID">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        </form>
		<a class="btn success" id="add" href="@routes.DoctorController.add_patient_assignment()">Add a new patient assignment</a>
		  
    </div>
    
    {
        
        <table class="computers zebra-striped">
        
            <thead>
                <tr>
                    @header("employee.id", "EmployeeID")
					@header("patient_visit.id", "PatientVisitID")
                </tr>
            </thead>
            
            <tbody>
                @for(patient_assignment <- currentPage.getList) {
                    <tr>
					    
						<td><a href="@routes.DoctorController.edit_patient_assignment(patient_assignment.id)">@patient_assignment.employee.id</a></td>
						<td><a href="@routes.DoctorController.patient_visit()">@patient_assignment.patient_visit.id</td>
						
                    </tr>
                }
            </tbody>            
        </table> 
    }        
}
