@(currentPage: com.avaje.ebean.Page[Service], currentSortBy: String, currentOrder: String, currentFilter: String) 

@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.AdminController.service(newPage, sortBy, order, currentFilter)
    
}

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}>
       <a href="@link(0, key)">@title</a>
    </th>
}
@main("Welcome to Play") {
    <div id="actions">        
        <a class="btn success" id="add" href="@routes.AdminController.create_service()">Add a new service</a>        
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="computers zebra-striped">
        
            <thead>
                <tr>
                    @header("name", "Service")
                    @header("unit.name", "Unit Name")
                </tr>
            </thead>
            
            <tbody>
                @for(service <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.AdminController.edit_service(service.id)">@service.name</a></td>
                        <td>@service.unit.name</td>                      
                    </tr>
                }
            </tbody>            
        </table> 
    }        
}