@(currentPage: com.avaje.ebean.Page[SupplySpecificType], currentSortBy: String, currentOrder: String, currentFilter: String) 

@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.AdminController.supply_index()
    
}

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}>
       <a href="@link(0, key)">@title</a>
    </th>
}
@main("Welcome to Play") {
    <div id="actions">        
        <a class="btn success" id="add" href="@routes.AdminController.add_supply()">Add a new supply</a>        
    </div>
    <div id="back">        
        <a class="btn success" id="back" href="@routes.AdminController.index()">Back</a>        
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="computers zebra-striped">
        
            <thead>
                <tr>
                    @header("name", "SupplySpecificType")
                    @header("supply_sub_type.name", "Supply Sub Type")
                    @header("supply_type.name", "Supply Type")
                </tr>
            </thead>
            
            <tbody>
                @for(supply <- currentPage.getList) {
                    <tr>
                        <td>@supply.name</td>       
                        <td>@supply.supply_sub_type.name</td>   
                        <td>@supply.supply_sub_type.supply_type.name</td>                  
                    </tr>
                }
            </tbody>            
        </table> 
    }        
}