@(currentPage: com.avaje.ebean.Page[Task], currentSortBy: String, currentOrder: String, currentFilter: Long) 

@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.DoctorController.task(newPage, sortBy, order, currentFilter)
    
}

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") {"headerSortDown"} else {"headerSortUp"}}>
       <a href="@link(0, key)">@title</a>
    </th>
}


    @main("Welcome to Play") {<div id="actions">        
		<script> // the script part runs ONLY for admin/director which passes -1 as filter. Add as admincontroller
		if (currentFilter == -1){

		}
		</script>
		  
    </div>
		
        <table class="computers zebra-striped">
        
            <thead>
                <tr>
                    @header("employee.id", "EmployeeID")
					@header("name", "Summary")
					@header("service.id", "ServiceID")
					@header("date", "Date")
					@header("canceled", "Cancel")
					@header("patient_treatment_history.id", "PatientHistoryID")
                </tr>
            </thead>
            
            <tbody>
                @for(task <- currentPage.getList) {
                    <tr>
					    
						<td>@task.employee.id</td>
						<td>@task.name</td>
						<td>@task.service.id</td>
						<td>@task.date</td>
						<td><a href="@routes.DoctorController.edit_task(task.id)">@task.canceled</a></td>
						<td><a href="@routes.DoctorController.add_task(task.patient_treatment_history.id)">@task.patient_treatment_history.id</a></td>
                    </tr>
                }
            </tbody>            
        </table> 
            
}
